# IDE files
.vscode/
.idea/
*.iml
*.pdf
*.class
*.ctxt
.DS_Store

# Generated drawing project
/projeto-anterior.json

# Ignore Javadoc generated documentation
/doc/
/docs/
/javadoc/
/.docs/

#agentic
.gemini

#workspace rules
.clinerules
